*.zip
*.tar
data/
*.pkl
*.pkl
*.pt
*.pkl.gz
*.pt.gz
*.pth.gz
*.pkl.gz.part
*.pt.gz.part
*.pth.gz.part
*.npz
*.npy
*.mp4
*.heic
*.HEIC
sapiens/.conda/*
env*
*.whl
*.jpg
*.png
*.jpeg
*.webp
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.webp
*.gif