data
outputs
pretrained_models
demo
*.pyc
**/__pycache__
**/.DS_Store
**/human_model_files
*.npz
*.pkl
*.pth
*.pth.tar
*.pt
*.pt.tar
*.pt.tar.gz
*.pt.tar.gz.part
*.pt.tar.gz.part.1
*.pt.tar.gz.part.2
*.pt.tar.gz.part.3
*.npy
*.zip
