numpy==1.23.1
smplx==0.1.28
tqdm==4.67.1
opencv-python==4.11.0.86
chumpy==0.70
trimesh==4.6.2
pyrender==0.1.45
matplotlib==3.7.5
json_tricks==3.17.3
einops==0.8.1
timm==1.0.14
ultralytics==8.3.75
pyopengl